<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">About page</title>
</head>
<body>
    <section>
        <h1>this is about page</h1>
        <h3>All About about page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptate quam officiis rem esse debitis, voluptas voluptatibus assumenda consequatur libero facere asperiores quasi exercitationem nihil cumque laudantium, veniam laboriosam. Earum.</p>
    </section>
</body>
</html>