<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
     <section class="banner">
        <h1>this is home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, amet. Cupiditate vitae quidem, necessitatibus molestiae eos natus commodi aliquid doloribus odit quasi, ipsam, accusantium impedit. Sequi porro aspernatur deserunt exercitationem!</p>
     </section>
</body>
</html>