<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <section>
        <div class="container mt-lg-3">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="my-card mt-1">
                        <!-- Alert Section -->
                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                            <p class="text-center" th:text="${session.message.content}"></p>
                        </div>

                        <div class="container text-center">
                            <img style="width: 70px;" src="" th:src="@{/images/register.png}" alt="logo">
                        </div>
                        <h1 class="text-center">Register Here!!</h1>

                        <form th:action="@{/do_register}" method="post" th:object="${user}">
                            <!-- Name Field -->
                            <div class="form-group">
                                <label for="name_field" class="form-label">Enter Your Name</label>
                                <input name="name" th:value="${user.name}" type="text" class="form-control" id="name_field" placeholder="Enter here" required />

                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Please provide a valid city.
                                  </div>
                            </div>

                            <!-- Email Field -->
                            <div class="form-group">
                                <label for="email_field" class="form-label">Enter Your Email</label>
                                <input type="email" name="email" th:value="${user.email}" class="form-control" id="email_field" placeholder="Enter here" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                            </div>

                            <!-- Password Field -->
                            <div class="form-group">
                                <label for="password_field" class="form-label">Enter Your Password</label>
                                <input type="password" name="password" class="form-control" id="password_field" placeholder="Enter here" required />
                            </div>

                            <!-- About Field -->
                            <div class="form-group">
                                <label for="about_field" class="form-label">Enter About You</label>
                                <textarea name="about" th:text="${user.about}" class="form-control" rows="5" id="about_field" placeholder="Enter about yourself" required></textarea>
                            </div>

                            <!-- Terms Input Field -->
                            <div class="form-group form-check m-1">
                                <input type="checkbox" name="agreement" class="form-check-input" id="terms_field">
                                <label class="form-check-label" for="terms_field">Accept terms and conditions</label>
                            </div>

                            <!-- Submit and Reset Buttons -->
                            <div class="container text-center">
                                <button type="submit" class="btn bg-primary text-white mt-2 w-100">Submit</button>
                                <button type="button" onclick="window.location.href='/signup'" class="btn bg-warning text-white mt-2 w-100">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
